Repository mstable/mStable-apps, pull requests merged in 2021-12, with the labels that each got.

#112 fix: Misc changes to dials
  apps/governance/src/app/pages/Dials/ActiveDial.tsx
  apps/governance/src/app/pages/Dials/DialPreferencesTable.tsx
  apps/governance/src/app/pages/Dials/DialTable.tsx
  apps/governance/src/app/pages/Dials/DialTitle.tsx
  apps/governance/src/app/pages/Dials/DialsSubmit.tsx
  apps/governance/src/app/pages/Dials/EpochDetails.tsx
  apps/governance/src/app/pages/Dials/constants.ts
  apps/governance/src/app/pages/Dials/context/UserDialsContext.tsx
  libs/dumb-components/src/lib/Table.tsx
Labels: app:governance

#119 Manually claim time multiplier
  apps/governance/src/app/pages/Quests/QuestInfo.tsx
  libs/theme/src/lib/theme.ts
Labels: app:governance

#118 Show your ENS name in the WalletButton
  libs/base/src/lib/components/core/UserIcon.tsx
  libs/base/src/lib/components/layout/WalletButton.tsx
  libs/base/src/lib/context/AccountProvider.tsx
  package.json
  yarn.lock
Labels: app:governance, app:protocol

#113 release: Dashboard
  apps/protocol/src/app/components/Balances.tsx
  apps/protocol/src/app/components/stats/Metrics.tsx
  apps/protocol/src/app/components/stats/SimpleMassetStats.tsx
  apps/protocol/src/app/context/SelectedSaveVersionProvider.tsx
  apps/protocol/src/app/hooks/useAvailableSaveApy.ts
  apps/protocol/src/app/hooks/useFeederPoolApy.ts
  apps/protocol/src/app/hooks/useSelectedMassetPrice.ts
  apps/protocol/src/app/index.tsx
  apps/protocol/src/app/pages/Dashboard/DashboardTable.tsx
  apps/protocol/src/app/pages/Dashboard/Illustration.tsx
  apps/protocol/src/app/pages/Dashboard/NetworkSwitcher.tsx
  apps/protocol/src/app/pages/Dashboard/Overview.tsx
  apps/protocol/src/app/pages/Dashboard/PoolRow.tsx
  apps/protocol/src/app/pages/Dashboard/RewardsContext.tsx
  apps/protocol/src/app/pages/Dashboard/SaveRow.tsx
  apps/protocol/src/app/pages/Dashboard/Styled.tsx
  apps/protocol/src/app/pages/Dashboard/TotalTvl.tsx
  apps/protocol/src/app/pages/Dashboard/WalletRow.tsx
  apps/protocol/src/app/pages/Dashboard/WalletTable.tsx
  apps/protocol/src/app/pages/Dashboard/index.tsx
  apps/protocol/src/app/pages/Dashboard/types.ts
  apps/protocol/src/app/pages/Dashboard/utils.ts
  apps/protocol/src/app/pages/Pools/Detail/EthereumPool.tsx
  apps/protocol/src/app/pages/Pools/Detail/LiquidityMessage.tsx
  apps/protocol/src/app/pages/Pools/Detail/PoolOverview.tsx
  apps/protocol/src/app/pages/Pools/cards/Card.tsx
  apps/protocol/src/app/pages/Pools/cards/PoolCard.tsx
  apps/protocol/src/app/pages/Pools/index.tsx
  apps/protocol/src/app/pages/Save/EthereumSave.tsx
  apps/protocol/src/app/pages/Save/index.tsx
  apps/protocol/src/app/pages/Save/v1/SaveMigration.tsx
  apps/protocol/src/app/pages/Save/v2/Onboarding.tsx
  apps/protocol/src/app/pages/Stats/index.tsx
  apps/protocol/src/index.html
  libs/base/src/lib/BaseProviders.tsx
  libs/base/src/lib/components/core/TokenIcon.tsx
  libs/base/src/lib/components/layout/AppBar.tsx
  libs/base/src/lib/components/layout/BannerMessage.tsx
  libs/base/src/lib/components/layout/Layout.tsx
  libs/base/src/lib/components/layout/Navigation.tsx
  libs/base/src/lib/components/wallet/ExploreAsset.tsx
  libs/base/src/lib/hooks/useAccountModal.tsx
  libs/base/src/lib/hooks/useExploreAssetModal.tsx
  libs/dumb-components/src/lib/CountUp.tsx
  libs/dumb-components/src/lib/InfoButton.tsx
  libs/dumb-components/src/lib/Step.tsx
  libs/dumb-components/src/lib/Steps.tsx
  libs/dumb-components/src/lib/TabsLeftAlign.tsx
  libs/dumb-components/src/lib/index.ts
  libs/icons/src/lib/illustration-graph.svg
  libs/icons/src/lib/illustration-tokens.svg
  libs/icons/src/lib/lock-alt.svg
  libs/icons/src/lib/tokens.svg
  libs/masset-hooks/src/lib/createStakingRewardsContext.ts
  libs/masset-hooks/src/lib/useFeederPool.tsx
  libs/masset-hooks/src/lib/useSelectedMassetState.tsx
  libs/theme/src/lib/theme.ts
Labels: app:protocol
